@model IEnumerable<MessagingApp.Models.Course>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Course Selection - MessagingApp</title>

</head>
<body>
    <h1 class="text-center">Course Selection</h1>
    <div class="d-flex flex-wrap justify-content-evenly">
        @foreach (var course in Model)
        {
            <a class="cursor-pointer text-decoration-none d-flex flex-column justify-content-center align-items-center"
               asp-action="ClassList" asp-controller="Courses" asp-route-id="@course.CourseId">
                <div class="course shadow-lg mb-2" style="background-color: @GetRandomColor()"></div>
                <h3 class="text-black text-decoration-none">@course.Name</h3>
            </a>
        }
    </div>


    @Html.Partial("RecentConversations")

    @functions {
        public string GetRandomColor() // Generate random hex code for course div
        {
            var random = new Random();
            var hex = $"#{random.Next(0x1000000):X6}";
            return hex;
        }
    }
</body>
</html>
