@{
    ViewData["Title"] = "Privacy Policy";
}

<div class="container mt-4">
    <h1 class="text-center">@ViewData["Title"]</h1>
    <div class="privacy-content p-3 shadow rounded bg-white">
        <p>
            Your privacy is important to us. This page outlines the policies regarding the collection and use of personal information while using our app.
        </p>
        <p>
            Group 5 : Tristan Lagace, Khemara Oeun, Austin Brown, Amanda Esteves.
        </p>
    </div>
</div>

